
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 30px auto;
    max-width: 1240px;
    padding: 0 20px; /* Adds 10px space on both sides */
}

nav ul {
    display: flex;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a.underline {
    text-decoration: underline;
}

ul li {
    list-style: none;
    font-size: 24px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .header img {
        height: 46px;
    }

    ul li {
        font-size: 12px;
        margin-left: 18px;
        text-transform: uppercase;
    }

    ul {
        padding-left: 0;
    }
}
