.stars {
    font-size: 24px;
    margin-bottom: 30px;
}

.empty-star, .filled-star {
    margin-right: 10px;
}

.filled-star {
    color: #FF6060;
}

.empty-star {
    color: lightgray;
}

@media (max-width : 768px) {

    .stars {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: 13px;
    }
}